In [1]:
import pandas as pd

In [10]:
course_dataframe = pd.read_json("../raw_course_data.json")

exploded_dataframe = course_dataframe.explode('courses')

exploded_dataframe["courseName"] = exploded_dataframe.courses.apply(
    lambda x: x["name"]) 

exploded_dataframe["skills"] = exploded_dataframe.courses.apply(
    lambda x: x["skills"]) 

exploded_dataframe["description"] = exploded_dataframe.courses.apply(
    lambda x: x["description"]) 

exploded_dataframe = exploded_dataframe.drop("courses", axis=1)

exploded_dataframe.head()

,bootcampName,locations,courseName,skills,description
0,CourseCareers,[Online],Digital Marketing Course,"[Social Media Marketing, Email Marketing, Digi...",Students complete the course in a few weeks to...
0,CourseCareers,[Online],Information Technology Course,[],Students complete the course in a few weeks to...
0,CourseCareers,[Online],Technology Sales Course,[],Students complete the course in a few weeks to...
1,Le Wagon,"[Amsterdam, Bali, Barcelona, Berlin, Bordeaux,...",Data Analytics Bootcamp,"[Business Intelligence, SQL, Python, Machine L...",You’ll dive into business KPIs and learn how t...
1,Le Wagon,"[Amsterdam, Bali, Barcelona, Berlin, Bordeaux,...",Data Analytics Bootcamp Online,"[Business Intelligence, SQL, Python, Machine L...",You’ll dive into business KPIs and learn how t...

In [24]:
df = course_dataframe.explode('courses')

df.head()

,bootcampName,courses,locations
0,CourseCareers,"{'name': 'Digital Marketing Course', 'skills':...",[Online]
0,CourseCareers,"{'name': 'Information Technology Course', 'ski...",[Online]
0,CourseCareers,"{'name': 'Technology Sales Course', 'skills': ...",[Online]
1,Le Wagon,"{'name': 'Data Analytics Bootcamp', 'skills': ...","[Amsterdam, Bali, Barcelona, Berlin, Bordeaux,..."
1,Le Wagon,"{'name': 'Data Analytics Bootcamp Online', 'sk...","[Amsterdam, Bali, Barcelona, Berlin, Bordeaux,..."

In [33]:
course_dataframe = pd.read_json("../raw_course_data.json")

df = course_dataframe.explode('courses')

normalised_dataframe = pd.concat([course_dataframe, pd.json_normalize(df.courses)], axis=1, sort=False)

normalised_dataframe

,0,1,2,3,4,5
0,CourseCareers,"[{'name': 'Digital Marketing Course', 'skills'...",[Online],Digital Marketing Course,"[Social Media Marketing, Email Marketing, Digi...",Students complete the course in a few weeks to...
1,Le Wagon,"[{'name': 'Data Analytics Bootcamp', 'skills':...","[Amsterdam, Bali, Barcelona, Berlin, Bordeaux,...",Information Technology Course,[],Students complete the course in a few weeks to...
2,Product Gym,"[{'name': 'Product Management', 'skills': ['Pr...",[Online],Technology Sales Course,[],Students complete the course in a few weeks to...
3,Makers Academy,"[{'name': 'Web Development', 'skills': ['Ruby'...","[Bristol, Cambridge, London, Manchester, Online]",Data Analytics Bootcamp,"[Business Intelligence, SQL, Python, Machine L...",You’ll dive into business KPIs and learn how t...
4,Skillcrush,[{'name': '(1) Break Into Tech Program + Job G...,[Online],Data Analytics Bootcamp Online,"[Business Intelligence, SQL, Python, Machine L...",You’ll dive into business KPIs and learn how t...
5,Tech Elevator,[{'name': 'Full-Time Java Coding Bootcamp - In...,"[Cincinnati, Cleveland, Columbus, Detroit, Hou...",Data Analytics Essentials Skill Course,"[Excel, SQL, Data Visualization, Data Analytics ]","Become autonomous with data thanks to SQL, Loo..."
6,Actualize,"[{'name': 'Web Development', 'skills': ['Angul...","[Chicago, Online]",Data Science Bootcamp - Full-time,"[Algorithms, Artificial Intelligence, Business...",Explore the fundamentals of data science. From...
7,Flatiron School,"[{'name': 'Cybersecurity Engineering ', 'skill...","[Denver, New York City, Online]",Data Science Bootcamp Online,"[SQL, Python, Machine Learning, Git, Data Visu...",Explore the fundamentals of data science. From...
8,Codesmith,"[{'name': 'CS Prep ', 'skills': ['Front End', ...","[Atlanta, Birmingham, Boston, Chicago, Dallas,...",Data Science Bootcamp - Part-time,"[Algorithms, Artificial Intelligence, Business...",Explore the fundamentals of data science. From...
9,Edureka,"[{'name': 'AI & Machine Learning', 'skills': [...",[Online],Data Science Bootcamp - Part-time Online,"[SQL, Python, Machine Learning, Git, Data Visu...",Explore the fundamentals of data science. From...
10,NaN,NaN,NaN,Growth & Data Automation Skill Course,"[Growth Hacking, Data Structures, Python, Java...",Discover how to automate data transfers betwee...
11,NaN,NaN,NaN,Python & Machine Learning Skill Course,"[Data Science, Data Analytics , Artificial Int...",Make your data speak using Python and Jupiter....
12,NaN,NaN,NaN,Web Analytics & Tracking Skill Course,"[Data Analytics , Digital Marketing]",This course will teach you how to analyze and ...
13,NaN,NaN,NaN,Web Development Bootcamp - Full-time,"[CSS, Front End, Git, HTML, JavaScript, jQuery...",Learn to build web applications from scratch. ...
14,NaN,NaN,NaN,Web Development Bootcamp Online,"[SQL, Sinatra, Ruby, Rails, MySQL, jQuery, Jav...",Learn to build web applications from scratch. ...
15,NaN,NaN,NaN,Web Development Bootcamp - Part-time,"[GitHub, CSS, Front End, Git, HTML, JavaScript...",Learn to build web applications from scratch. ...
16,NaN,NaN,NaN,Web Development Bootcamp - Part-time Online,"[SQL, Sinatra, Ruby, Rails, MySQL, jQuery, Jav...",Learn to build web applications from scratch. ...
17,NaN,NaN,NaN,Product Management,[Product Management],Our Product Management career community member...
18,NaN,NaN,NaN,QA Engineering (SDET),"[Scrum, REST, Quality Assurance Testing, JavaS...",The QA Automation program is a 15-week course ...
19,NaN,NaN,NaN,Web Development,"[Ruby, Rails, CSS, JavaScript, HTML, Front End...","The course is designed for everyone, whether a..."
20,NaN,NaN,NaN,(1) Break Into Tech Program + Job Guarantee: F...,"[REST, React.js, Quality Assurance Testing, Gi...","Our Front End Developer course is an online, s..."
21,NaN,NaN,NaN,(2) Break Into Tech Program + Job Guarantee: U...,"[HTML, Design, CSS]","Our UI/UX Designer course is an online, self-p..."
22,NaN,NaN,NaN,Full-Time Java Coding Bootcamp - In-person,"[CSS, HTML, Java, JavaScript, Git, Front End, ...",Course topics include an Introduction to Progr...
23,NaN,NaN,NaN,Full-Time Java Coding Bootcamp - Remote,"[CSS, Git, HTML, Java, JavaScript, Front End, ...",Course topics include an Introduction to Progr...
24,NaN,NaN,NaN,Full-Time .NET/C# Coding Bootcamp - In-person,"[C#, CSS, Git, HTML, .NET, SQL, ASP.NET, MVC, ...",Course topics include an Introduction to Progr...
25,NaN,NaN,NaN,Part-Time Java Coding Bootcamp - Remote,"[SQL, Scrum, REST, MVC, JavaScript, Java, HTML...",Course topics include an Introduction to Progr...
26,NaN,NaN,NaN,Web Development,"[AngularJS, CSS, Git, HTML, JavaScript, Rails,...",None
27,NaN,NaN,NaN,Cybersecurity Engineering,"[Cryptography, Ethical Hacking, Linux, Mobile ...",Our Cybersecurity Engineering program will tea...
28,NaN,NaN,NaN,Data Science,"[Algorithms, Data Science, Data Structures, Ma...",The Data Science course provides students with...
29,NaN,NaN,NaN,Product Design (UX/UI Design),"[Design, Ascent, Climb]",Flatiron School’s Product Design course takes ...
30,NaN,NaN,NaN,Software Engineering,"[CSS, Front End, HTML, JavaScript, Node.js, Ra...",Being a software engineer requires more than k...
31,NaN,NaN,NaN,CS Prep,"[Front End, JavaScript, Algorithms, jQuery]",CS Prep is a 2-week live-online part-time prog...
32,NaN,NaN,NaN,Full-Time Remote Software Engineering Immersive,"[Algorithms, AngularJS, CSS, Data Structures, ...",The 13-week Full-Time Remote Software Engineer...
33,NaN,NaN,NaN,Global Part-Time Remote Software Engineering I...,"[Algorithms, AngularJS, CSS, Data Structures, ...",The 38-week Part-Time Remote Software Engineer...
34,NaN,NaN,NaN,JavaScript for Beginners,[JavaScript],"JavaScript for Beginners is a part-time, remot..."
35,NaN,NaN,NaN,NYC Onsite Software Engineering Immersive,"[AngularJS, CSS, Express.js, Front End, HTML, ...",The 13-week Full-Time NYC Onsite Software Engi...
36,NaN,NaN,NaN,AI & Machine Learning,"[Artificial Intelligence, Data Structures, Mac...",Edureka AI and Machine Learning bootcamp curri...
37,NaN,NaN,NaN,Full Stack Web Development,"[CSS, Express.js, HTML, JavaScript, MongoDB, N...",Edureka Full Stack Web Development students wi...

In [35]:
dataframe = df.merge(pd.json_normalize(df.courses), left_index=True)

MergeError: Must pass right_on or right_index=True